# Ignorar todos os arquivos de extensão .CSV
data/*.csv

# Ignorar o diretório de configuração do PyCharm
.idea/

# Ignorar o .vscode
.vscode/

# Ignorar o cache
__pycache__/

# Ignorar o cache python
*.pyc

# Ignora o .env
.env
